<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all and (min-width:1200px)" href="/css/defaultPC.css">
    <link rel="stylesheet" media="all and (max-width:1199px)" href="/css/defaultMOBILE.css">
    <link rel="stylesheet" href="/css/mainForm.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.2.1-web/css/all.min.css">
    <script src="/css/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script defer src="/js/app.js"></script>
    <title>PartyPlay</title>
</head>

<body>
    <div class="menu" style="display: none;">
        <div class="menuBox">
            <div>
                <a href="partyManageMain">내파티 관리</a>
            </div>
            <div>
                <a href="support">고객센터</a>
            </div>
            <div>
                <a href="createParty">파티 생성</a>
            </div>
        </div>
    </div>

    <header> <!-- 헤더(로고, 메뉴, 회원정보) -->
        <div class="menubar">
            <div><i class="menuB fa-solid fa-bars"></i></div>
        </div>
        <div class="logo">
            <a href="main">
                <img src="./img/logo.png" alt="">
            </a>
        </div>
        <div class="account">
            <div>
                <a class="myAccount" href="account">내정보</a>
            </div>
            <div>
                <a class="logOut" href="/logOut ">로그아웃</a>
            </div>
        </div>
    </header>

    <div class="mainBox">
        <aside> <!-- 왼쪽 광고 -->
            <div class="ad1">
                <img class="ad" src="">
            </div>
        </aside>

        <main> <!-- 메인 화면(카테고리, 파티칸) -->
            <form action="">
                <div class="cat"> <!-- 메인 화면(카테고리) -->
                    <input type="checkbox" id="checkCat">
                    <label for="checkCat"><input type="button" value="전체"></label>

                    <input type="checkbox" id="checkVideo">
                    <label for="checkVideo"><input type="button" value="영상"></label>

                    <input type="checkbox" id="checkMusic">
                    <label for="checkMusic"><input type="button" value="음악"></label>

                    <input type="checkbox" id="checkEtc">
                    <label for="checkEtc"><input type="button" value="기타"></label>
                </div>
                <div class="partyMain" id="partyMain">
                    <div class="partyListMain">
                        <strong class="partyMainTitle">PartyPlay</strong>
                        <p class="sub_copy">파티를 가입/생성 하여 헤택을 즐겨보세요!</p>
                        <p class="sub_copy2">※ 개인정보 유출에 주의하세요! </p>
                        <div class="party_common party_style">
                            <table>
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">파티 번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">카테고리</th>
                                        <th scope="col">총금액(일금액)</th>
                                        <th scope="col">모집 인원(총 인원)</th>
                                        <th scope="col">종료일(남은 기간)</th>
                                        <th scope="col">파티 생성일</th>
                                        <th scope="col">파티 상태</th>
                                        <th scope="col">정보/가입</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr name="partyList" class="hide">
                                        <td name="partyNumber">00001</td>
                                        <td name="partyTitle" class="t_left" id="partyTitle">
                                            <a href="./partyDetailsForm.html" class="partyDetails">
                                                도제프로젝트test도제프로젝트test도제프로젝트test도제프로젝트
                                            </a> <!-- Java Script -->
                                        </td>
                                        <td name="partyCategory">categoryDefault</td><!-- Java Script -->
                                        <td name="partyPay">nn원(dd원)<!-- Java Script, 계산기 --></td>
                                        <td name="partyMember">hire member(all)<!-- Java Script, 계산기 --></td>
                                        <td name="partyDate">2023.01.31(left date)<!-- java Script, 계산기 --></td>
                                        <td name="partyBirth">2023.01.10</td>
                                        <td name="partyState">
                                            모집중 <!-- Java Script -->
                                        </td>
                                        <td scope="col" class="right">
                                            <a href="./partyDetailsForm.html" class="partyDetails" id="">파티 정보</a>
                                            <a href="./partyJoinForm.html" class="partyJoin" id="">즉시
                                                가입</a><!-- java Script, 경고문 출력, db삭제 -->
                                        </td>
                                    </tr>
                                    <tr name="partylist_no" class="">
                                        <td colspan="9">
                                            <h1><strong>Party Play</strong></h1>
                                            <p class="sub_copy3" id="partylastList">목록은 여기까지 입니다.</p>
                                            <a href="createPartyForm.html" class="partyMainCreate"
                                                id="partyMainCreate">파티
                                                생성하기</a><br><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="paging_wrap">
                            <ul id="partyPaging" class="pagingUl" style="display: none;">
                                <li><a class="" name="0.1" order="1" href="">1</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="2" href="">2</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="3" href="">3</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="4" href="">4</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="5" href="">5</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="6" href="">6</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="7" href="">7</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="8" href="">8</a></li><!-- Java Script-->
                                <li><a class="" name="0.2" order="9" href="">9</a></li><!-- Java Script-->
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </main>

        <aside> <!-- 오른쪽 광고 -->
            <div class="ad2">
                <img class="ad" src="">
            </div>
        </aside>
    </div>
    <footer> <!-- 정보칸 -->
        <div class="information">
            <div>PartyPlay는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 파티정보, 구매에 관한 의무와 책임은 판매자에게 있습니다.</div>
            <div>PartyPlay는 소비자 보호와 안전거래를 위해 고객센터를 운영하고 있으며, 분쟁이 발생 된 경우 별도의 분쟁처리절차에 의거분쟁해결 및 청약철회 등이 진행 됩니다.</div>
            <div>조장: 이동인 제작 인원: 3명(김승민, 이동인, 이호재) 상일미디어 고등학교: 서울특별시 강동구 천호대로219길 61</div>
        </div>
    </footer>
</body>

</html>