<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all and (min-width:1200px)" href="/css/defaultPC.css">
    <link rel="stylesheet" media="all and (max-width:1199px)" href="/css/defaultMOBILE.css">
    <link rel="stylesheet" href="/css/supportForm.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.2.1-web/css/all.min.css">
    <script src="/css/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script defer src="/js/app.js"></script>
    <title>PartyPlay</title>
</head>

<body>
    <div class="menu" style="display: none;">
        <div class="menuBox">
            <div>
                <a href="partyManageMain">내파티 관리</a>
            </div>
            <div>
                <a href="support">고객센터</a>
            </div>
            <div>
                <a href="createParty">파티 생성</a>
            </div>
        </div>
    </div>

    <header> <!-- 헤더(로고, 메뉴, 회원정보) -->
        <div class="menubar">
            <div><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="logo">
            <a href="./main">
                <img src="./img/logo.png" alt="">
            </a>
        </div>
        <div class="account">
            <div>
                <a class="myAccount" href="account">내정보</a>
            </div>
            <div>
                <a class="logOut" href="logOut ">로그아웃</a>
            </div>
        </div>
    </header>

    <div class="mainBox">
        <aside> <!-- 왼쪽 광고 -->
            <div class="ad1">
                <img class="ad" src="">
            </div>
        </aside>

        <main> <!-- 메인 화면(카테고리, 파티칸) -->
            <a class="record" href="record">내 문의내역</a>
            <div class="service">
                <form action="#">
                    <h1>고객센터</h1><br><br>
                    <h3>분쟁카테고리</h3>
                    <div class="dispute">
                        <select id="card" required>
                            <option value="" selected>카테고리 선택</option>
                            <option value="결제분쟁">결제분쟁</option>
                            <option value="분쟁쟁쟁">분쟁쟁쟁</option>
                            <option value="분분분쟁">분분분쟁</option>
                        </select>
                    </div>
                    <br>
                    <h3>분쟁내용</h3>
                    <div class="dispute2">

                        <textarea placeholder="[기재사항] 아이디명"></textarea>
                    </div>
                    <input type="submit" class="submit" value="분쟁제출">
                </form>
            </div>
        </main>

        <aside> <!-- 오른쪽 광고 -->
            <div class="ad2">
                <img class="ad" src="">
            </div>
        </aside>
    </div>
    <footer> <!-- 정보칸 -->
        <div class="information">
            <div>PartyPlay는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 파티정보, 구매에 관한 의무와 책임은 판매자에게 있습니다.</div>
            <div>PartyPlay는 소비자 보호와 안전거래를 위해 고객센터를 운영하고 있으며, 분쟁이 발생 된 경우 별도의 분쟁처리절차에 의거분쟁해결 및 청약철회 등이 진행 됩니다.</div>
            <div>조장: 이동인 제작 인원: 3명(김승민, 이동인, 이호재) 상일미디어 고등학교: 서울특별시 강동구 천호대로219길 61</div>
        </div>
    </footer>
</body>

</html>